.card {
    width: 21rem;
    height: 20rem;
    margin: 1em;
    padding: 1em;
    background-color: rgb(44, 44, 44);
    border-radius: 15px;
}

.card:hover{
    transform: scale(1.03);
    box-shadow: 0 2px 15px #88888872;
}

.imgContainer img{
    width: 100%;
    border-radius: 15px;
}

.title {
    margin: 5px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    color: #f1f1f1;
}

.channelName, .views {
    line-height: 22px;
    color: #c9c9c9;
}